header{
background-color: rgb(0, 0, 0);
color: rgb(0, 0, 0);
padding: 30px 0px;
}

nav{
    position: absolute;
    top: 150px;
    right: 0px;
    font-size: 30px;
}

nav li{ 
display: inline; 
margin: 0 0 0 15px;
}/*estara  em formado de linha*/


nav a{
text-decoration: none;
}

.caixa{
    position: relative;
    width: 1480px;
    margin: 0 auto;
    height: 200px;
    
}
h1{
    font-size:50px;
}
h1 img{
    width:450px;
    position: absolute;
    top: -10px;
    left: -180px;
}
h2 {
    font-size:25px;
}
.servicos {
    width: 1480px;
    margin: 0 auto;
    padding: 50px 0;
}
.servicos li {
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    margin: 0;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid goldenrod;
    border-radius: 15px;
}
.servicos img {
    width: 400px;
}
.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}
.descricao {
    font-size:20px;
}
.preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
    color:goldenrod;
    text-decoration: underline;
}
.servicos li:hover {
    border-color: rgb(36, 35, 35);
}
.servicos li:active {
    border-color: rgb(32, 218, 88);
}
nav a:active {
    color: aqua;
}
.servicos li:hover h2 {
    font-size: 34px;
}
footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding:150px 0;
}
footer img {
    width: 150px;
}
.copyright {
    color: white;
    font-size: 15px;
    margin: 20px 0 0;
}
body {
    background-color: rgb(255, 255, 255);
}
main {
    width:1480px;
    margin:0 auto;
}
form {
    margin:40px 0;
}
form label, form p{
    display: block;
    font-size: 20px;
    margin:0 0 10px;
}
.imput-padrao{
    display: block;
    margin:0 0 20px;
    padding: 5px 25px;
    width:40%;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: rgb(3, 3, 3);
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor:pointer;

}
.enviar:hover {
    background-color: black;
    transform:scale(1.2);
    animation: rotate 3s linear infinite;
}
 @keyframes rotate {
        0%{
            transform: rotate(0deg);
            border-style: solid;
            border-color: lightskyblue;

        }
        25%{
            transform: rotate(10deg);
            border-style: solid;
            border-color: lightskyblue;

        }
        50%{
            transform: rotate(0deg);
            border-style: solid;
            border-color: lightskyblue;

        }
        75%{
            transform: rotate(-10deg);
            border-style: solid;
            border-color: lightskyblue;

        }
        100%{
            transform: rotate(0deg);
            border-style: solid;
            border-color: lightskyblue;

        }
    } 
/*
.holographic-card {
  width: 500px;
  height: 50px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card h2 {
  color: #0ff;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 500%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}*/
.imagem p{
color: aqua;
}
.mapa h2{
font-size: 30px;
color: goldenrod;
}
.mapa iframe{
    box-sizing: border-box;
    border: 5px solid goldenrod;
    border-radius: 20px;
    
}
.mapa p{
    font-size: 20px;
}
